@font-face {font-family: 'Gotham Bold';src: url('gothamssm-bold.otf');}
body{font-weight: 400 !important;}
h1{font-family: "Bebas Neue", sans-serif;color: #fff;font-size: 60px;line-height: 1;letter-spacing: 2px;}
h2{font-family: 'Gotham Bold';color: #fff;font-size: 60px;line-height: 1.2;}
h3{font-family: 'Gotham Bold';color: #022044;font-size: 36px;line-height: 1.2;}
h5{font-family: 'Gotham Bold';font-size: 24px;}
h6{font-family: 'Gotham Bold';color: #fff;font-size: 40px;}
.font-80{font-size: 80px;line-height: 1;}
.font-45{font-size: 45px;}
.section-padding{padding: 50px 0;}
.section-padding-top{padding-top: 50px;}
.text-blue{color: #022044;}
.bg-blue{background-color: #022044;}
.header-section{background-color: #F5F4FA;}
.home .header-section{background-color: #0220445e;position: absolute;width: 100%;}
a.navbar-brand {width: 250px;}
img{max-width: 100%;height: auto;}
.gotham-bold{font-family: 'Gotham Bold';}
.home .nav-link{color: #fff;}
.home .navbar-nav .nav-link.active, .home .navbar-nav .show>.nav-link{color: #fff !important;}
.nav-link{color: #022044;font-family: 'Gotham Bold';font-size: 1.2em;}
.navbar-toggler {color: #022044;border: var(--bs-border-width) solid #022044;}
.navbar-toggler:focus {box-shadow: 0 0 0 2px !important;}
.section-banner{background-image: url('riseinglobalBanner.jpg');padding: 22% 0 70px;background-repeat: no-repeat;background-position: bottom left;background-size: cover;background: linear-gradient(30deg, rgba(2, 32, 68, 1), rgba(0, 0, 0, 0.2)), url('riseinglobalBanner.jpg') cover no-repeat bottom;background: linear-gradient(30deg, rgba(2, 32, 68, 1), rgba(0, 0, 0, 0.2)), url('riseinglobalBanner.jpg') no-repeat top;background-size: cover;border-bottom: 3px solid #fff;}
.font-100 {font-size: 100px;line-height: 0.9;}
.font-200 {font-size: 170px;}
.font-24{font-size: 24px;}
.border-bottom-blue{border-bottom: 2px solid #022044;}
.bottom-line:after {content: '';width: 400px;height: 3px;background-color: #fff;display: block;right: 23px;position: absolute;}
/* -----------middle content------------ */
.font-30-bold{font-family: 'Gotham Bold';font-size: 30px;}
h6.section-heading6::before, h6.section-heading6::after {content: '';width: 150px;height: 3px;background: #fff;position: absolute;left: -46%;top: 50%;}
h6.section-heading6::after {left: unset;right: -46%;top: 50%;}
.product-wrapper {background-color: #fff;transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;border-radius: 10px; /* Optional for smoother corners */}
.product-wrapper:hover {transform: translateY(-10px); /* Adds a smooth lift effect */box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* A subtle shadow for depth */background-color: #f5f5f5; /* Slight background color change on hover */}
.product-wrapper-1, .product-wrapper-6 {border-radius: 60px 0;transition: all;}
.product-wrapper-1 img, .product-wrapper-6 img {border-radius: 60px 0 0;}
.product-wrapper-2, .product-wrapper-2 img {border-radius: 60px 60px 0 0;}
.product-wrapper-3 img, .product-wrapper-4 img {border-radius: 0 60px 0 0;}
.product-wrapper-3, .product-wrapper-4 {border-radius: 0 60px;}
.product-wrapper-5 {border-radius: 0 0 60px 60px;}

.explore-btn{width: 250px;border: solid 2px #fff;}
.explore-btn:hover{background-color: #022044 !important;color: #fff;border: solid 2px #fff;}
.right-arrow{display: inline-block; width: 0;height: 14px;transition: width 0.5s ease;background-image: url('right-arrow.png');background-position: center;background-repeat: no-repeat;background-size: contain;z-index: 1;position: relative;}
.explore-btn:hover .right-arrow{width: 20px;}

/* -----------------footer--------------- */
.poppins-medium {font-family: "Poppins", sans-serif;font-weight: 500;}
.poppins-regular {font-family: "Poppins", sans-serif;font-weight: 400;}
.poppins-bold {font-family: "Poppins", sans-serif;font-weight: 700;}
.contact-details-wrapper a, .footer-nav a, .social-nav a{color: #03254f;text-decoration: none;}
.contact-details-wrapper a:hover, .footer-nav a:hover, .social-nav a:hover{color: #412920;}
.footer-section{padding: 50px 0 20px 0;font-family: 'Gotham Bold';}
.social-nav img{width: 40px;}
.font-20{font-size: 20px;}
.section-manufaturingandtransporting {background: #022044 url("bg-design.png") repeat center center;background-size: 205px;}

/* --------------------our product------------------ */
.section-our-products-padding {padding: 156px 0 86px 0;}

/* -----------------about page-------------- */
.section-sk-exim-enterprises{background-image: url('golden-pattern-ruff-bg-img.png');background-position: bottom center;background-repeat: no-repeat;background-size: 100% 100%;padding: 50px 0 18% 0;}
.section-key-advantanges{background-image: url('Layer\ 6@2x\ -\ Copy.png');background-position: top center;background-repeat: no-repeat;background-size: 100% 100%;padding: 18% 0 50px 0;margin-top: -5%;}
.list-style-arrow, .list-style-arrow-white{list-style: none;}
.list-style-arrow li, .list-style-arrow-white li{position: relative;}
.list-style-arrow li::before {content: '';width: 25px;height: 25px;display: inline-block;background-image: url('white-arrow.png');background-size: contain;position: absolute;left: -30px;top: 5px;}
.list-style-arrow-white li::before{content: '';width: 25px;height: 25px;display: inline-block;background-image: url('white-arrow-blue.png');background-size: contain;position: absolute;left: -30px;top: 5px;}

/* contact page  */
.intl-tel-input {display: table-cell;}
.intl-tel-input .selected-flag {z-index: 4;}
.intl-tel-input .country-list {z-index: 5;}
.input-group .intl-tel-input .form-control {border-top-left-radius: 4px;border-top-right-radius: 0;border-bottom-left-radius: 4px;border-bottom-right-radius: 0;}
.section-contact-us .contact-details-wrapper img{width: 35px;height: 35px;}

@media (min-width: 992px){
    .home .product-wrapper, .home .onload-effect {opacity: 0;transform: translateY(30px);transition: opacity 1s ease-out, transform 1s ease-out;}
    .home .product-visible, .home .heading-visible {opacity: 1;transform: translateY(0);}
    .why-work-with-us-wrapper{cursor: pointer;}
    .work-with-us-anime-img img{width: 150px; opacity: 0;transform: translateX(-20px);transition: opacity 0.6s ease, transform 0.6s ease;}
    .why-work-with-us-wrapper:hover .work-with-us-anime-img img{opacity: 1;transform: translateX(0);}
}
@media (max-width: 1200px){
    h1{font-size: 50px;}
    h2{font-size: 50px;}
    h6{font-size: 35px;}
    .font-20{font-size: 18px;}
    .font-80{font-size: 70px;}
    .font-100 {font-size: 85px;}
    .font-200 {font-size: 140px;}
    h6.section-heading6::before, h6.section-heading6::after {width: 120px;}
    h6.section-heading6::after {width: 120px;}
    .section-sk-exim-enterprises{background-image: url('Mobile-Upper-Pattern.png');padding: 50px 0 18% 0;}
    .bottom-line::after {right: -75px;}
}
@media (max-width: 992px){
    h1{font-size: 40px;}
    h2{font-size: 40px;}
    h6{font-size: 30px;}
    .font-20{font-size: 16px;}
    .font-80{font-size: 55px;}
    .font-30-bold{font-family: 'Gotham Bold';font-size: 24px;}
    h6.section-heading6::before, h6.section-heading6::after, h6.section-heading6::after {width: 80px;}
    .nav-link{color: #022044;}
    .product-wrapper-1, .product-wrapper-4, .product-wrapper-5 {border-radius: 40px 0;}
    .product-wrapper-1 img, .product-wrapper-4 img, .product-wrapper-5 img {border-radius: 40px 0 0;}
    .product-wrapper-2 img, .product-wrapper-3 img, .product-wrapper-6 img {border-radius: 0 40px 0 0;}
    .product-wrapper-2, .product-wrapper-3, .product-wrapper-6 {border-radius: 0 40px;}
    .show {position: absolute;top: 100%;background-color: #fff;width: 95%;padding: 20px;transition: all;}
    .collapsing, .collapse{transition: none;}
    h6.section-heading6::before, h6.section-heading6::after {left: -35%;}
    h6.section-heading6::after {left: unset;right: -35%;}
    h3 {font-size: 28px;}
    .font-45 {font-size: 36px;}
    .font-24 {font-size: 20px;}
    .section-key-advantanges {background-image: url('Mobile-Bottom-Pattern.png');background-position: top center;background-repeat: no-repeat;background-size: cover;padding: 183px 0 50px 0;margin-top: -5%;}
    video {max-height: 640px;width: auto;max-width: 100%;}
    .work-with-us-anime-img img {width: 100px;}
}
@media (max-width: 767px){
    h1{font-size: 30px;letter-spacing: 1px;}
    h2{font-size: 30px;}
    h5{font-size: 20px;}
    h6{font-size: 25px;}
    .font-80{font-size: 40px;}
    .font-100 {font-size: 65px;}
    .font-200 {font-size: 120px;}
    .section-padding{padding: 40px 0;}
    .font-30-bold{font-family: 'Gotham Bold';font-size: 19px;}
    .bottom-line:after {width: 300px;right: -40px;}
    .font-20{font-size: 18px;}
    h6.section-heading6::before, h6.section-heading6::after {left: -38%;}
    h6.section-heading6::after {left: unset;right: -38%;}
    .social-nav img {width: 20px;}
    a.navbar-brand {width: 200px;}
    .nav-link {font-size: 1em;}
    .section-banner{padding: 268px 0 40px;}
    .explore-btn{width: 200px;}
    .section-manufaturingandtransporting {background-size: 120px;}
    .section-our-products-padding {padding: 120px 0 50px 0;}
    h3 {font-size: 22px;}
    .font-45 {font-size: 28px;}
    .font-24 {font-size: 18px;}
    .work-with-us-anime-img img{width: 80px;}
    .section-sk-exim-enterprises {padding: 40px 0 16% 0;}
    .section-key-advantanges {padding: 215px 0 50px 0;margin-top: -12%;background-size: 111% 100%;}
}
@media (max-width: 576px){
    h1{font-size: 28px;}
    h2{font-size: 31px;}
    h3 {font-size: 20px;}
    h5{font-size: 16px;}
    h6{font-size: 20px;}
    .font-20{font-size: 16px;}
    .font-80{font-size: 37px;}
    .font-100 {font-size: 51px;}
    .font-200 {font-size: 80px;}
    .font-45 {font-size: 26px;}
    .bottom-line::after {width: 80%;right: -37px;}
    .font-30-bold{font-family: 'Gotham Bold';font-size: 14px;}
    h6.section-heading6::before, h6.section-heading6::after {left: -25%;width: 40px;}
    h6.section-heading6::after {left: unset;right: -25%;width: 40px;}
    .multipurpose-ecommerce-img {min-height: 360px;object-fit: cover;}
    .section-key-advantanges {background-image: url('Mobiledevice-Bottom-Pattern.jpg');background-size: 100% 100%;padding: 130px 0 50px 0;margin-top: -25px;}
    .section-sk-exim-enterprises {padding: 23px 0 75px 0;}
}
